# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
/src/main/resources/generatedResources/
/src/main/resources/minecraft_recipes_copy/
/src/main/java/net/b34tzepz/betterbuilding/block/Blocks.txt
/src/main/java/net/b34tzepz/betterbuilding/block/Registers.txt
/src/main/java/net/b34tzepz/betterbuilding/block/HashMap.txt
