# gradle

.gradle/
build/
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# macos

*.DS_Store

# fabric

run/
/src/main/resources/generatedResources/
/src/main/resources/minecraft_recipes_copy/
/src/main/java/net/b34tzepz/betterbuilding/block/files/
/src/main/resources/default/
/src/main/generated/.cache/4a686f2b5daf83af665d237faf4270a511b0acc1
/src/main/generated/.cache/20336722c8314ec2bcadc2521d608f1a4915b41a
/src/main/generated/.cache/8102385359f75bbb8693c8e23cb86fa4ba9d7a7b
/src/main/generated/.cache/c4cb5a520380b9551cd67bd5f49d286031562b09
/src/main/generated/.cache/eb2fcbfd13a5b2e297348e2bf44a51a67c5c6673
